---
// Yazar bilgisi – E-E-A-T için
---

<aside class="author-bio" aria-label="Yazar bilgisi">
  <h3 class="author-bio__title">Yazar hakkında</h3>
  <p class="author-bio__text">
    15 yılı aşkın süredir otomotiv sektöründe teşhis ve tamir üzerine çalışmış, OBD-II ve motor yönetim sistemleri konusunda uzmanlaşmış bir teknisyen tarafından hazırlanmaktadır. Bu sitedeki bilgiler genel bilgilendirme amaçlıdır; araçınıza özel teşhis ve onarım için mutlaka yetkili bir servise başvurunuz.
  </p>
</aside>
